@media screen and (min-width: 1700px) {
  #profile{
    height: 72vh;
    margin-bottom: 6rem;
  }
  .about-containers {
    flex-wrap: wrap;
  }

  .about-details-container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 125px;
  }

  .text-container {
    flex: 1;
    align-items: center;
    margin-left: 100px;
    margin-top: 5px;
    margin-right: 100px;
  }

  .timeline {
    flex: 1;
    margin-right: 5px;
    margin-top: -65px;
    margin-bottom: -65px;
  }

  .justified-text {
    text-align: justify;
    max-width: 95%;
    font-size: 0.95em;
  }

  .justified-text-experience {
    text-align: justify;
    max-width: 95%;
    font-size: 0.95em;
    margin: 0.2rem;
  }

  .timeline-and-image-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 55%;
    margin-top: 75px;
  }

  .logo-image-experience {
    width: 300px;
    height: auto;
    margin-top: 45px;
    margin-bottom: 80px;
  }

  .logo-image-experience-2 {
    width: 200px;
    height: auto;
    margin-top: 40px;
    margin-bottom: 90px;
  }
}

@media screen and (max-width: 1400px) {
  #profile{
   height: 83vh;
    margin-bottom: 6rem;
  }
  .about-containers {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 1200px){
  #desktop-nav {
    display: none;
  }
  #hamburger-nav {
    display: flex;
  }


  #experience,
  .experience-details-container {
    margin-top: 2rem;
  }
  #profile,
  .section-container {
    display: block;
  }

  #about,
  .about-details-container{
    display: block;
  }
  section,
  .section-container {
    height: fit-content;
  }
  section {
    margin: 0 5%;
  }
  .section__pic-container {
    width: 275px;
    height: 275px;
    margin: 0 auto 2rem;
  }
  .about-containers {
    margin-top: 0;
  }
}

@media screen and (min-width: 375px) and (max-width: 425px) {
  #contact, footer {
    height: 40vh;
  }

  #about {
    display: none;
  }

  #about-mobil {
    display: inline-block;
    margin-top: 2rem;
  }

  #profile {
    height: 80vh;
    margin-bottom: 0;
    margin-top: 100px;
  }

  #experience {
    margin-top: 20px;
  }

  .experience__timeline:before {
    content: '';
    margin-left: -1px;
    position: absolute;
    top: 0;
    left: -1em;
    width: 2px;
    height: 100%;
    background-color: black;
  }

  .timeline__event-icon {
    left: -1em;
  }

  .timeline__event-icon-2 {
    left: -1em;
  }

  .timeline__event-copy {
    padding: 2em;
    position: relative;
    top: -1.875em;
    left: 4em;
    width: 125%;
    margin-bottom: -35px;
    margin-left: -75px;
  }

  .timeline__event-copy h3 {
    font-size: 1.50em;
  }

  .timeline__event-copy h4 {
    font-size: 1em;
    margin-bottom: 0.3em;
  }

  .timeline__event-copy strong {
    font-weight: 700;
  }

  .timeline__event-copy p:not(.timeline__event-thumbnail) {
    padding-bottom: 0.3em;
  }

  .article {
    font-size: 1rem;
  }

  footer nav {
    height: fit-content;
    margin-top: 2rem;
  }

  .about-containers,
  .contact-info-upper-container,
  .btn-container {
    flex-wrap: wrap;
  }

  .contact-info-container {
    margin: 0;
  }
  .contact-info-container p,
  .nav-links li a {
    font-size: 1rem;
  }
  .logo {
    font-size: 1.5rem;
  }
  .nav-links {
    flex-direction: column;
    gap: 0.5rem;
    text-align: center;
  }
  .section__pic-container {
    width: auto;
    height: 46vw;
    justify-content: center;
  }

  .section__text__p2 {
    font-size: 1.25rem;
  }

  .title {
    font-size: 2rem;
  }

  .text-container {
    text-align: justify;
  }

  .experience-details-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    margin-left: -10px;
    margin-right: -10px;
  }

  .logo-image-experience {
    display: none;
  }

  .logo-image-experience-2 {
    display: none;
  }

  .justified-text {
    text-align: justify;
    max-width: 75%;
    font-size: 0.80em;
    margin-left: 80px;
  }

  .justified-text-experience {
    text-align: justify;
    max-width: 95%;
    font-size: 0.80em;
    margin: 0.2rem;
  }


  .logo-image-timeline {
    height: 60px;
    width: auto;
  }

  .timeline {
    margin: 0 auto;
    max-width: 750px;
    padding: 25px;
    display: grid;
    grid-template-columns: 1fr 3px 1fr;
    color: rgb(53, 53, 53);
    margin-top: 30px;
  }

  .timeline__component--bg {
    padding: 0.5em;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
  }

  .timeline__title {
    margin: 0;
    font-size: 0.80em;
    font-weight: bold;
    line-height: 1;
  }

  .timeline__paragraph {
    margin-top: 15px;
    line-height: 1;
    font-size: 0.70em;
  }

  .timeline__date {
    align-self: flex-start;
    margin-top: 6.2em;
    font-size: 0.80em;
  }

  .timeline__date--right {
    text-align: right;
    margin-top: 9em;
  }

  .timeline__date--final {
    text-align: right;
    margin-top: -1em;
  }

  .arrow {
    display: none;
  }

  .experience-arrow {
    display: none;
  }

  .profile-arrow {
    display: none;
  }

  footer {
    height: 12vh;
    margin: 0 1rem;
  }

  .nav-links {
    display: none;
  }

  #contact {
    height: 60vh;
  }

  .contact-info-upper-container {
    display: flex;
    justify-content: center;
    border-radius: 2rem;
    border: rgb(53, 53, 53) 0.1rem solid;
    border-color: rgb(163, 163, 163);
    background: rgb(250,250,250);
    margin: 2rem auto;
    padding: 1rem
  }
}

@media screen and (min-width: 0px) and (max-width: 375px) {
  #contact, footer {
    height: 40vh;
  }

  #about {
    display: none;
  }

  #about-mobil {
    display: inline-block;
    margin-top: 2rem;
  }

  #profile {
    height: 83vh;
    margin-bottom: 0;
    margin-top: 50px;
  }

  #experience {
    margin-top: 20px;
  }

  .experience__timeline:before {
    content: '';
    margin-left: -1px;
    position: absolute;
    top: 0;
    left: -1em;
    width: 2px;
    height: 100%;
    background-color: black;
  }

  .timeline__event-icon {
    left: -1em;
  }

  .timeline__event-icon-2 {
    left: -1em;
  }

  .timeline__event-copy {
    padding: 2em;
    position: relative;
    top: -1.875em;
    left: 4em;
    width: 125%;
    margin-bottom: -35px;
    margin-left: -75px;
  }

  .timeline__event-copy h3 {
    font-size: 1.50em;
  }

  .timeline__event-copy h4 {
    font-size: 1em;
    margin-bottom: 0.3em;
  }

  .timeline__event-copy strong {
    font-weight: 700;
  }

  .timeline__event-copy p:not(.timeline__event-thumbnail) {
    padding-bottom: 0.3em;
  }

  .article {
    font-size: 1rem;
  }

  footer nav {
    height: fit-content;
    margin-top: 2rem;
  }

  .about-containers,
  .contact-info-upper-container,
  .btn-container {
    flex-wrap: wrap;
  }

  .contact-info-container {
    margin: 0;
  }
  .contact-info-container p,
  .nav-links li a {
    font-size: 1rem;
  }
  .logo {
    font-size: 1.5rem;
  }
  .nav-links {
    flex-direction: column;
    gap: 0.5rem;
    text-align: center;
  }
  .section__pic-container {
    width: auto;
    height: 46vw;
    justify-content: center;
  }

  .section__text__p2 {
    font-size: 1.25rem;
  }

  .title {
    font-size: 2rem;
  }

  .text-container {
    text-align: justify;
  }

  .experience-details-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    margin-left: -10px;
    margin-right: -10px;
  }

  .logo-image-experience {
    display: none;
  }

  .logo-image-experience-2 {
    display: none;
  }

  .justified-text {
    text-align: justify;
    max-width: 75%;
    font-size: 0.80em;
    margin-left: 80px;
  }

  .justified-text-experience {
    text-align: justify;
    max-width: 95%;
    font-size: 0.80em;
    margin: 0.2rem;
  }


  .logo-image-timeline {
    height: 60px;
    width: auto;
  }

  .timeline {
    margin: 0 auto;
    max-width: 750px;
    padding: 25px;
    display: grid;
    grid-template-columns: 1fr 3px 1fr;
    color: rgb(53, 53, 53);
    margin-top: 30px;
  }

  .timeline__component--bg {
    padding: 0.5em;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
  }

  .timeline__title {
    margin: 0;
    font-size: 0.80em;
    font-weight: bold;
    line-height: 1;
  }

  .timeline__paragraph {
    margin-top: 15px;
    line-height: 1;
    font-size: 0.70em;
  }

  .timeline__date {
    align-self: flex-start;
    margin-top: 6.2em;
    font-size: 0.80em;
  }

  .timeline__date--right {
    text-align: right;
    margin-top: 9em;
  }

  .timeline__date--final {
    text-align: right;
    margin-top: -1em;
  }

  .arrow {
    display: none;
  }

  .experience-arrow {
    display: none;
  }

  .profile-arrow {
    display: none;
  }

  footer {
    height: 12vh;
    margin: 0 1rem;
  }

  .nav-links {
    display: none;
  }

  #contact {
    height: 60vh;
  }

  .contact-info-upper-container {
    display: flex;
    justify-content: center;
    border-radius: 2rem;
    border: rgb(53, 53, 53) 0.1rem solid;
    border-color: rgb(163, 163, 163);
    background: rgb(250,250,250);
    margin: 2rem auto;
    padding: 1rem
  }
}
