@media screen and (min-width: 1700px) {
  #profile{
    height: 72vh;
    margin-bottom: 6rem;
  }
  .about-containers {
    flex-wrap: wrap;
  }

  .about-details-container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 125px;
  }

  .text-container {
    flex: 1;
    align-items: center;
    margin-left: 100px;
    margin-top: 5px;
    margin-right: 100px;
  }

  .timeline {
    flex: 1;
    margin-right: 5px;
    margin-top: -65px;
  }

  .justified-text {
    text-align: justify;
    max-width: 95%;
    font-size: 0.95em;
  }

  .justified-text-experience {
    text-align: justify;
    max-width: 95%;
    font-size: 0.95em;
    margin: 0.2rem;
  }

  .timeline-and-image-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 55%;
    margin-top: 75px;
  }

  .logo-image-experience {
    width: 300px;
    height: auto;
    margin-top: 45px;
    margin-bottom: 80px;
  }

  .logo-image-experience-2 {
    width: 200px;
    height: auto;
    margin-top: 40px;
    margin-bottom: 90px;
  }
}

@media screen and (max-width: 1400px) {
  #profile{
   height: 83vh;
    margin-bottom: 6rem;
  }
  .about-containers {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 1200px){
  #desktop-nav {
    display: none;
  }
  #hamburger-nav {
    display: flex;
  }
  #experience,
  .experience-details-container {
    margin-top: 2rem;
  }
  #profile,
  .section-container {
    display: block;
  }
  section,
  .section-container {
    height: fit-content;
  }
  section {
    margin: 0 5%;
  }
  .section__pic-container {
    width: 275px;
    height: 275px;
    margin: 0 auto 2rem;
  }
  .about-containers {
    margin-top: 0;
  }
}

@media screen and (max-width: 600px) {
  #contact, footer {
    height: 40vh;
  }
  #profile {
    height: 83vh;
    margin-bottom: 0;
  }
  artcile {
    font-size: 1rem;
  }
  footer nav {
    height: fit-content;
    margin-top: 2rem;
  }
  .about-containers,
  .contact-info-upper-container,
  .btn-container {
    flex-wrap: wrap;
  }
  .contact-info-container {
    margin: 0;
  }
  .contact-info-container p,
  .nav-links li a {
    font-size: 1rem;
  }
  .logo {
    font-size: 1.5rem;
  }
  .nav-links {
    flex-direction: column;
    gap: 0.5rem;
    text-align: center;
  }
  .section__pic-container {
    width: auto;
    height: 46vw;
    justify-content: center;
  }
  .section__text__p2 {
    font-size: 1.25rem;
  }
  .title {
    font-size: 2rem;
  }
  .text-container {
    text-align: justify;
  }
}
